<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed|Sacramento|Spicy+Rice|Cabin+Sketch|Chewy|Vast+Shadow|Comfortaa|Parisienne&display=swap" rel="stylesheet">
</head>
<style>
.Theorie{display:;}

*{user-select: none;-ms-user-select: none;-webkit-user-select: none;-moz-user-select: none;}
body{background-color:indigo;color:white;}
a {color: {AccentColor};}
u, p, li{font-family:Comfortaa;}
test{color:red;}
details > summary {padding: 2px 36px;border: none;  font-size: 16pt;font-family:Comfortaa; list-style: none;}td {border: 1px solid #333; font-family:Comfortaa;padding:5px;} H2 {background-color:#FFFFFF50;padding:5px 5px 5px 45px;}
details summary::-webkit-details-marker {display:none;}

.Theorie details > summary:before{content:'';background:url('https://www.flaticon.com/premium-icon/icons/svg/1885/1885683.svg');background-size:cover;position:absolute;width:20px;height:20px;margin-left:-25px;}
.TravauxApplication details > summary:before{content:'';background:url('https://www.flaticon.com/svg/static/icons/svg/2178/2178147.svg');background-size:cover;position:absolute;width:20px;height:20px;margin-left:-25px;}
.TA{border:solid black;background:white;padding:15px;margin:15px 0px 15px;}

#TitreCours{text-align:center;background:indigo;color:black;padding-bottom:2em;padding-top:2em}

#Cours{line-height:1.5em;position:relative;padding-left:25px;margin:auto;padding-top:15px;padding-bottom:25px; margin-bottom:15px;padding-right:25px;;width:90%;background-color:rgba(200, 200, 200, 0.3)}

#disclaimer{font-size:8pt;color:black;background:indigo;text-align:center;padding:5px 30% 5px 30%;}
</style>
